<ol class="breadcrumb">
  <li><%= link_to t('deals.index.all_deals'), deals_path %></li>
  <%- if @federation -%>
    <span class="divider"> / </span></li><li><%= link_to @federation.name, deals_path(federation_id: @federation.id) %></li>
  <%- end -%>
  <%- if @query -%>
    <span class="divider"> / </span></li><li><%= link_to @query, deals_path(q: @query) %></li>
  <%- end -%>
</ol>

<div class="alert">
  <strong>Para editar</strong> La mayoría de los campos son editables haciendo click sobre ellos.
</div>

<table class="table table-responsive">
  <tr>
    <th>#</th>
    <th><%= t('deal.attributes.category').capitalize %></th>
    <th><%= t('business.attributes.name').capitalize %></th>
    <th><%= t('deal.attributes.title').capitalize %></th>
    <th><%= t('deal.attributes.responsible_account').capitalize %></th>
    <th></th>
  </tr>
  <%- @deals.each do |deal| -%>
    <tr>
      <td><%= deal.id %></td>
      <td><%= bip deal, :category_id, type: :select, collection: [[nil,"None"]].concat(Category.all.map {|c| [c.id, c.name]}) %></td>
      <td><%= best_in_place_if can?(:update, deal.business), deal.business, :name, type: :input %></td>
      <td><%= bip deal, :title %></td>
      <td><%= deal.responsible_account %>(<%= deal.responsible_user %>)</td>
      <td>
        <button type="button" class="btn btn-mini" data-toggle="showHide" data-target="#details-<%= deal.id %>">detalles</button>
        <%- if can?(:destroy,deal) -%>
          <%= link_to t('deals.index.cancel_deal'),
                      deal_path(deal.id),
                      method: :delete,
                      confirm: t('deals.index.confirm_destroy'),
                      class: 'btn btn-mini btn-danger' %>
        <%- end -%>
      </td>
    </tr>
    <tr id="details-<%= deal.id %>" class="hide">
      <td colspan="9"><div>
        <h3><%= best_in_place_if can?(:update, deal.business), deal.business, :name, type: :input %></h3>
        <h4><%= bip deal, :title %></h4>
        <p><%= bip deal, :description, type: :textarea %></p>
        <address>
          Dir: <%= best_in_place_if can?(:update, deal.business), deal.business, :address, type: :input %><br/>
          Tel: <%= best_in_place_if can?(:update, deal.business), deal.business, :phone, type: :input %><br/>
          Email: <%= best_in_place_if can?(:update, deal.business), deal.business, :email, type: :input %><br/>
          Web: <%= best_in_place_if can?(:update, deal.business), deal.business, :url, type: :input %><br/>
          Lat: <%= best_in_place_if can?(:update, deal.business), deal.business, :lat, type: :input %><br/>
          Lng: <%= best_in_place_if can?(:update, deal.business), deal.business, :lng, type: :input %><br/>
          Image: <% unless deal.deal_image.nil? %><%= image_tag deal.deal_image_url %><br /><% end %>
        </address>
      </div></td>
    </tr>
  <%- end -%>
</table>
