<table class="table table-striped table-responsive">
  <tr>
    <th>#</th>
    <th><%= t('business.attributes.name') %></th>
    <th><%= t('business.attributes.address') %></th>
    <th><%= t('deal.attributes.title') %></th>
    <th><%= t('deal.attributes.description') %></th>
    <th><%= t('deal.attributes.responsible_user') %></th>
    <th></th>
  </tr>
  <%- @deals.each do |deal| -%>
    <tr>
      <td><%= deal.id %></td>
      <td><%= deal.business.name %></td>
      <td><%= deal.business.address %></td>
      <td><%= deal.title %></td>
      <td><%= deal.description %></td>
      <td><%= deal.responsible_user.gsub('.',' ').titleize %></td>
      <td>
        <%- if current_user.username == deal.responsible_user -%>
          <%= link_to t('deals.index.cancel_deal'),
                      deal_path(deal.id),
                      method: :delete,
                      confirm: t('deals.index.confirm_destroy'),
                      class: 'btn btn-mini btn-danger' %>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>